<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tomandjerrygame">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".DataBase.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TomAndJerryGame">
        <activity
            android:name=".Activity.ActivitySaveName"
            android:exported="false" />
        <activity
            android:name=".Activity.ActivityMenu"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDso7eckxDGdpl0SdJpLBAKMQT8D0Qj6_o" />

        <activity
            android:name=".Activity.ActivityMain"
            android:exported="false" />
        <activity
            android:name=".Activity.ActivityTop"
            android:exported="false" />
        <activity
            android:name=".Activity.ActivitySplash"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>